body {
    text-align: center;
    background-color: rgb(227, 242, 246);
    font-family: helvetica, sans-serif;    
}

/* The main container */
.main {
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
}


/** The label on the left container */
.labels {
    display: inline-block;
    text-align: right;    
    width: 30%;
    padding: 10px;
    vertical-align: top;
}

/** The right container includes input, checkbox, radios */
.right {
    display: inline-block;
    text-align: left;
    width: 40%;
}


/* This is style for input field */
.inputfield {
    height: 20px;
    width: 250px;
    border: 1px solid black;
    margin: 10px;
}

/** This is the style for each radio. We use relative position and set left -43 to move it to the left away from its normal position*/
.radio, .checkbox {
    position: relative;
    left: -43px;
}


/* Set the dropdown menu size */
#dropdown {
    height: 25px;
    width: 200px;
    margin: 10px;
}

li>label {
    padding-left: 10px;
}

li[class="checkbox"] {
    padding: 5px;
}
